<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-padding">
      <ion-tab-button tab="products">
        <ion-thumbnail>
          <img src="../../../../assets/images/icon_my_products_green.svg">
        </ion-thumbnail>
        <ion-label>Productos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="transactions">
        <ion-thumbnail>
          <img src="../../../../assets/images/icon_transactions_gray.svg">
        </ion-thumbnail>
        <ion-label>Transacciones</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="offers">
        <ion-thumbnail>
          <img src="../../../../assets/images/icon_offers_gray.svg">
        </ion-thumbnail>
        <ion-label>Ofertas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings">
        <ion-thumbnail>
          <img src="../../../../assets/images/icon_config_gray.svg">
        </ion-thumbnail>
        <ion-label>Configuraciones</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
